.contacts {
    height: 100vh;
    background-color: #ff7ae7;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.communications {

}

.formWrapper {
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

textarea {
    height: 300px;
}

input {
    width: 300px;
}

textarea {
    width: 300px;
}



.send {


}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .formWrapper {
        width: 100%;
    }
}