.footer {
    height: 300px;
    background-color: #d5ff95;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.social {
    width: 300px;
    display: flex;
    justify-content: space-between;


}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .footer {
        height: 200px;
    }
}



