.header {
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
}

.container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}


