.header {
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #b7e2ff;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}


