.projects {
    height: 100vh;
    background-color: #ff93e7;
    display: flex;
    justify-content: center;

}

.container {
    width: 80%;
}

.title {
    height: 6%;
    display: flex;
    justify-content: center;
}

.items {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .title {
        margin-top: 5px;
    }
    .items {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}
