.projectItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.preview {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/project_img.jpg");
    background-size: cover;
}


.title {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.describe {
    text-align: center;
}


@media (max-width: 768px) {
    .projectItem {
        align-items: center;
        width: 90%;
    }

    .preview {
        width: 500px;
    }

    .describe {
        text-align: center;
    }

}

@media (max-width: 576px) {


    .preview {
        width: 280px;
        height: 250px;
    }

    .title {
        font-size: 18px;

    }


}
