.projects {
    height: 100vh;
    background-color: #1F1F20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
}

.items {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .projects {
        height: 100%;
    }

    .container {
        width: 100%;
    }

    .items {
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}
