.skills {
    height: 100vh;
    background-color: #252527;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 80%;
}


.items {
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

}



@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .skills {
        height: 100%;
    }
    .items {
        height: 32%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}
