.skills {
    height: 100vh;
    background-color: #b1ffae;
    display: flex;
    justify-content: center;

}

.container {
    width: 80%;
}

.header {
    height: 30%;
    display: flex;
    justify-content: center;
}

.items {
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.item {

}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .header {
        height: 6%;
        display: flex;
        justify-content: center;
    }
    .items {
        height: 32%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}
