.skillItem {
    min-height: 220px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.label {
    margin-top: 50px;
    width: 80px;
    height: 80px;
    background: rgba(255,255,255,0.1);
    transform: rotate(45deg);
    margin-bottom: 30px;
}

.describe {
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .skillItem {
        height: 100%;
        background-color: #252527;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}

