.skillItem {
    height: 100%;
    max-width: 320px;
    background-color: #b1ffae;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.title {
    height: 30%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}

.label {
    width: 50px;
    height: 50px;
    background-color: gray;
}

.describe {
    padding: 10px;
}

@media (max-width: 768px) {
    .skillItem {
        height: 100%;
        max-width: 320px;
        background-color: #b1ffae;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}

