.slogan {
    height: 200px;
    background-color: #ff7f6e;
    display: flex;
    justify-content: center;

}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

@media (max-width: 768px) {
    .slogan {
        height: 100px;
    }
    .container {
        width: 100%;
    }
    .title {
        text-align: center;
    }
}

